@{
    ViewBag.Title = "API";
}
<h1>@ViewBag.Title</h1>
<h2>Access our API using HTTP</h2>
<p>Try it out using a command line interface:</p>
<p><code>curl "http://ppsh.net/scenario/push/6?key=YourSecretKey"</code></p>
<p>You can also embed your own parameters:</p>
<p><code>curl "http://ppsh.net/scenario/push/6?key=YourSecretKey&message=HelloWorld&temperature=24"</code></p>